.details{
    padding-top: 20px;
}

@media (max-width: 576px) {
    h2{
        font-size: 32px;
        padding-bottom: 10px;

    }
    p {
        margin-bottom: 30px;
    }

    .details{
        padding-top: 0px;
    }
}