#backgroundImage{
    -fx-background-image: url("../Images/landingPageImg.png");
        -fx-background-repeat: no-repeat;
        -fx-background-size: cover;
}

#clickNotificationButton {
    -fx-background-radius: 50em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#popup{
  -fx-border-color: #f5ba41;
      -fx-border-radius: 5px;
      -fx-border-width: 5px;

}